/*html最大的根元素，css具有继承能力
在它以及css设置的样式，作用于所有元素*/
/*css重置 让浏览器成为一张白纸*/
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  height: 100%;
  background:url(./b9r5sEL.jpg) bottom center;
  background-repeat: no-repeat;
  /*浏览器前缀 css3曾经是新的，很多浏览器
  不支持，或部分支持，实验性质支持，加上
  前缀*/
  /*移动端项目*/
  -ms-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.keys {
  display: flex;
  align-items: center;
  justify-content: center;
  /*vh只跟显示屏有关，
     总共100份，比例分配*/
  min-height: 100vh;
}
.key {
  color: white;
  border: .4rem solid #000;
  /*rem? vh css3的相对单位。
  rem是relative html标签的font-size
  等比例换算关系,大小将于设备无关
  iphone 7s 作为开发机型
  px 不靠谱了，屏幕密度*/
  -webkit-border-radius: .5rem;
  border-radius: .5rem;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem .5rem;
  width: 10rem;
  text-align: center;
  background: rgba{0,0,0,.4};
  /*水平 垂直偏移量 阴影大小*/
  text-shadow: 0 0 0.5rem black;
  /*transition 样式的变化自动添加渐变
  all支持的样式 有多个建议用all
  .7s 时间
  ease 改变的速度 变速运动 由慢到快*/
  transition: all 0.07s ease;
}
.key>div {
  font-size: 4rem;
}
.key .sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
.playing {
  /*transform 变形 放大 大于1放大 小于1缩小*/
  transform: scale(1.1);
  border-color: #ffc608;
  box-shadow: 0 0 1rem #ffc608;
}
